.About{
    width: 100%;
}
.info_about{
    width: 80%;
    margin: auto;
    height: 20vh;
    margin-top: 25vh;
    display: flex;
    color: rgb(113, 102, 102);
    justify-content: space-between;
}


.info_about>div{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
}
.info_about>div>h1{
    color: black;
    font-weight: 600;
}