.offers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5vh;
}

.cards{
    width: 26%;
   
}
.cards>img{
    width: 100%;
    border-radius: 10px;
    height: 40vh;
}
.offer_info{
    width: 65%;
    height: 25vh;
    position: relative;
    background-color: white;
    cursor: pointer;
    bottom: 15vh;
    left: 15vh;
    box-shadow: 3px 3px 3px 3px rgba(154, 144, 144, 0.514);
    border-radius: 5px;
    transition: 0.5s;
}
.offer_info:hover{
    box-shadow: 3px 3px 3px 3px rgba(18, 7, 7, 0.816);
    padding: 10px;   

}
.offer_child{
    padding: 20px;    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.offer_child > div{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30%;
    width: 20%;
    background-color:#E0B781;
    border-radius:0 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.h1{
    text-align: center;
    margin: 20px 0px;
    color: rgb(102, 94, 94);
}


